# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
eggs/
.venv/
*.egg-info/
*.egg
poetry.toml

# Editors / tools
.idea/
.vscode/
.ruff_cache

# QT project files, generated only for pylupdate (qt i18n)
*.pro
