[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = ">=1.4.1"
Cython = "~=0.29"
falcon = "~=1.4"
JACK-Client = "~=0.4"
mido = "~=1.2"
PyGObject = "~=3.30"
pyliblo = "~=0.10"
PyQt5 = "~=5.6"
python-rtmidi = "~=1.1"
requests = "~=2.20"
sortedcontainers = "~=2.0"

[dev-packages]
html5lib = "*"
