[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sortedcontainers = "*"
mido = "*"
python-rtmidi = "*"
JACK-Client = "*"
pyliblo = "*"
"PyQt5" = "*"
PyGObject = "*"
falcon = "*"
requests = "*"

[dev-packages]
Cython = "*"
pycallgraph = "*"
objgraph = "*"
