---
---

@import 'variables';
@import 'bootstrap/bootstrap';
@import 'bootswatch';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.beer  {
    color: #ffe600;
    text-shadow: 1px 1px 2px black;
}

.waveform {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100px;
}

.waveform .waveform-bar {
    min-width: 6px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    background: rgba(var(--bs-primary-rgb), 0.8);
}